.round {
  cursor:unset;
  border-radius: 50%;
  position: relative;
  border: none;
  width: 7em;
  height: 7em;
  bottom: 3.5em;
  background-color: white;

  &::after {
    content: '';
    position: absolute;
    margin: 0;
    top: 45%;
    transform: translate(-73%, -45%);
    width: 4em;
    height: 4em;
    background-color: #D97D54;
    border-radius: 50%;
    box-shadow: 1px 3px 21px 9px rgba(0,0,0,0.25);
    :hover {
      background-color: black;
    }
  }


  .fa-plus  {
    z-index: 2;
    color: white;
    position: relative;
    font-size: 2em;
  }

}

